*, *::before, *::after {
  box-sizing: border-box;
}
body {
  background: olive;
}
.content {
  display: flex;
}
.main {
  width: 80%
}
.sidebar {
  min-width: 20%;
  background: teal;
}
.navigation ul {
  display: flex;
  padding: 0;
  margin: 0;
}
.navigation li {
  padding: 1rem;
  list-style-type: none;
}
img {
  width: 100%;
}